<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <%= link_to subscriptions_path,
            class: 'btn btn-primary btn-lg pull-right subBtn uppercase' do %>
            Inscreva-se!
          <% end %>

          <%= link_to root_path do %>
            <h3 class='brand'>
              Semana <span class='expert'>Ruby Expert</span>
              <span class='edition'>1</span>
            </h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>